.main-home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.home-container-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    background-color: #f7f7f7;
}

.home-heading-light {
    color: #000000;
}

.home-container-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-grow: 1;
    width: 100%;
}

.home-heading-dark {
    color: white;
}