.sub-nav-container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;

    .sub-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    a {
        transition: 1s;
        color: #343434;
        font-weight: 500;

        &:after {
            display: block;
            content: '';
            border-bottom: 3px solid #007a00;
            transform: scaleX(0);
            transition: transform 200ms ease-in-out;
        }

        &:hover::after {
            transform: scaleX(1);
        }

        &:hover {
            color: #007a00;
            transition: 1s;
        }
    }
}